body {
    margin: 10px;
    padding: 10px;
}

img {
    width: 20vw;
    height: 20vw;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



nav {
    text-align: left;
}


#ansoeg {
    flex-basis:
}

.info1 {
    display: flex;
    flex-wrap: wrap;
}

.image1 {
    position: relative;
    background-image: url(armsupsea.png);
}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

/*
@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}*/
