body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

#ansoeg img {}

.sectionwrapper img {
    width: 20vw;
    height: 20vw;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#menuknap {
    font-size:
}

header {
    display: flex;
    flex-direction: row;
}

header {
    background-color: darkgray;
}

header img {
    display: block;
}

#ansoeg {
    flex-basis:
}

.ikoner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#ikon1 {
    flex-wrap: wrap;
}

#ikon2 {
    flex-wrap: wrap;
}

#ikon3 {
    flex-wrap: wrap;
}

.info1 {
    display: flex;
    flex-wrap: wrap;
}

.image1 {
    position: relative;
    background-image: url(armsupsea.png);
}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}
